<ul class="posts">
    {% for post in posts %}
    <li class="post" >
        {% if not current_user.is_authenticated and not post.show %}
        {% else %}
        <a href="{{ url_for('.post', id=post.id) }}">
            {% if post.title %}
                <h2 class="post-title">
                {{ post.title }}
                </h2>
            {% endif %}
            <h3>
                {{ post.subheading }}
            </h3>
{#            <div class="post-body" style="height: 10em ;overflow:hidden ">#}
{#                {% if post.body_html %}#}
{#                    {{ post.body_html | safe }}#}
{#                {% else %}#}
{#                    <h3 class="post-subtitle">#}
{#                    {{ post.body }}#}
{#                    </h3>#}
{#                {% endif %}#}
{#            </div>#}
        </a>
        <p class="post-meta">Posted by  {{ post.timestamp}} [ type: <a href="{{ url_for('.allarticle',id=post.type) }}">{{ dict[post.type] }} </a> ]</p>
        {% endif %}
        <div class="post-footer">
            {% if current_user.is_authenticated%}
            <a href="{{ url_for('.edit', id=post.id) }}">
                <span class="label label-primary">Edit</span>

            </a>
                {% if post.show %}
                    <a href="{{ url_for('.hidepost', id=post.id) }}">
                    <span class="label label-primary">Hide</span>
                    </a>
                {% else %}
                    <a href="{{ url_for('.showpost', id=post.id) }}">
                    <span class="label label-primary">Show</span>
                    </a>
                {% endif %}
            {% endif %}

        </div>
        <hr>
    </li>
    {% endfor %}
</ul>
