{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Type List{% endblock %}
{% block head %}
    <header class="intro-header" style="background-image: url({{ imgurl }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Article's type List</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page_content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {%  include '_type.html' %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination,'.alltype') }}
    </div>
    </div>
{% endblock %}