
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Edit Post{% endblock %}

{% block head %}
    <header class="intro-header" style="background-image: url({{ url_for('static',filename='img/about-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="media-heading">
                        <h3>Edit Post</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Edit Post</h1>
</div>


<form class="form" method="POST">
    {{ wtf.form_field(form.title) }}
    {{ wtf.form_field(form.subheading)}}
    {{ wtf.form_field(form.type)}}
    <div class="col-md-6">
    {{ form.body(only_preview=True) }}

    </div>
    {{ form.hidden_tag() }}
    <div class="col-md-6">
        {{ wtf.form_field(form.body,rows=15) }}
    </div>
    {{ wtf.form_field(form.submit) }}
</form>
{#        {{ wtf.quick_form(form) }}#}
{##}
{#    {{ form.body(only_input=True, rows=10,class="col-md-6" ) }}#}
{#    {{ form.body() }}#}
{#    {{ wtf.form_field(form.submit) }}#}
{{ super() }}
{{ pagedown.include_pagedown()}}

{% endblock %}


