{% extends "base.html" %}

{% block title %}Flasky - Post{% endblock %}
{% block head %}
    <header class="intro-header" style="background-image: url({{ project.imgurl }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ project.name }}</h1>
                        <h2 class="subheading">{{ project.heading }}</h2>
                        <span class="meta">Posted on {{ project.timestamp }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


{% endblock %}


{% block page_content %}
{% include '_project.html' %}

{% endblock %}
