<!DOCTYPE html>
<html >
<head>
    <meautota charset="UTF-8">
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</head>

<body>

<canvas id="canvas"></canvas>
<div id="text">
<audio controls="controls" id="audio" style="display: none;">你的浏览器不支持audio标签</audio>

</div>

    <script src="{{url_for('static',filename='js/tree.js')}}"></script>
	<script src="{{url_for('static',filename='js/loader.js')}}" type="text/javascript" charset="utf-8"></script>

</body>
</html>
